<section>
    <h1 class="title">Редактирование категории расходов</h1>
    <div>
        <div class="category-info">
            <input type="text" placeholder="Тип...">
            <input type="text" placeholder="Категория...">
            <input type="text" placeholder="Сумма в $...">
            <input type="text" placeholder="Дата...">
            <input type="text" placeholder="Комментарий...">
        </div>
        <div class="category-button">
            <button>Создать</button>
            <button>Отмена</button>
        </div>
    </div>
</section>