<section>
    <h1 class="title">Расходы</h1>
    <div class="income__blocks">
        <div class="income__block">
            <div class="income__block-title">Депозиты</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Еда</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Жильё</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Здоровье</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Кафе</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Авто</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Одежда</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Развлечения</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Счета</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Спорт</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block add">
            +
        </div>
    </div>
    <div class="popup">
        <div class="popup-content">
            <div class="popup-text">
                Вы действительно хотите удалить категорию? Связанные расходы будут удалены навсегда.
            </div>
            <div class="popup-buttons">
                <button>Да, удалить</button>
                <button>Не удалять</button>
            </div>
        </div>
    </div>
</section>
