<section>
    <h1 class="title">Главная</h1>
    <div class="sorting">
        <ul>
            <li>Сегодня</li>
            <li>Неделя</li>
            <li>Месяц</li>
            <li>Год</li>
            <li>Все</li>
            <li>Интервал</li>
        </ul>
        <div class="interval">
            <label for="date1">с</label>
            <input id="date1" type="text" placeholder="Дата">
            <label for="date2">по</label>
            <input id="date2" type="text" placeholder="Дата">
        </div>
    </div>
    <div class="content-info">
        <div class="content-block income">
            <div class="content-block__title">Доходы</div>
            <div class="content-block__categories">
                <div class="categories__block"></div>
                <div class="categories__text">Red</div>
                <div class="categories__block"></div>
                <div class="categories__text">Orange</div>
                <div class="categories__block"></div>
                <div class="categories__text">Yellow</div>
                <div class="categories__block"></div>
                <div class="categories__text">Green</div>
                <div class="categories__block"></div>
                <div class="categories__text">Blue</div>
            </div>
            <div class="content-block__diagram">
                <img src="../images/Group.png" alt="">
            </div>
        </div>
        <div class="content-line"></div>
        <div class="content-block expenses">
            <div class="content-block__title">Расходы</div>
            <div class="content-block__categories">
                <div class="categories__block"></div>
                <div class="categories__text">Red</div>
                <div class="categories__block"></div>
                <div class="categories__text">Orange</div>
                <div class="categories__block"></div>
                <div class="categories__text">Yellow</div>
                <div class="categories__block"></div>
                <div class="categories__text">Green</div>
                <div class="categories__block"></div>
                <div class="categories__text">Blue</div>
            </div>
            <div class="content-block__diagram">
                <img src="../images/Group.png" alt="">
            </div>
        </div>
    </div>
</section>

