<section>
    <h1 class="title">Доходы</h1>
    <div class="income__blocks">
        <div class="income__block">
            <div class="income__block-title">Депозиты</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Зарплата</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Сбережения</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block">
            <div class="income__block-title">Инвестиции</div>
            <div class="income__block-settings">
                <button>Редактировать</button>
                <button>Удалить</button>
            </div>
        </div>
        <div class="income__block add">
            +
        </div>
    </div>
    <div class="popup">
        <div class="popup-content">
            <div class="popup-text">
                Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
            </div>
            <div class="popup-buttons">
                <button>Да, удалить</button>
                <button>Не удалять</button>
            </div>
        </div>
    </div>
</section>
