body {
  min-height: 100vh;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

.b-example-divider {
  margin-left: 218px;
}

.link-body-emphasis, .nav-link {
  font-weight: 400;
  font-size: 14px;
  color: #052C65;
}

.price {
  font-weight: 500;
  font-size: 14px;
  color: #052C65;
}

.price span {
  color: #0D6EFD;
}

.btn-toggle:before {
  content: none;
}

.btn-toggle {
  padding-left: 15px;
  width: 100%;
  justify-content: space-between;
}

.btn-toggle-nav a {
  margin-left: 0;
  padding: 12px 16px;
  display: block;
}

.btn-toggle-nav li {
  padding: 0;
}

.link-dark {
  text-decoration: none;
}

.nav-item a, .my-btn {
  padding: 12px 16px;
}

.logo {
  width: 98px;
}

.content {
  padding: 100px 0 0 60px;
  margin-left: 219px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #052C65;
  margin-bottom: 60px;
}

.category-name input {
  width: 397px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  padding: 7px 16px;
  color: #6C757D;
  font-size: 15px;
  margin-bottom: 27px;
}

.category-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.category-buttons button {
  padding: 12px 16px;
  justify-content: center;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: none;
  color: white;
}

.category-buttons button:nth-child(1) {
  background-color: #198754;
}

.category-buttons button:nth-child(2) {
  background-color: #DC3545;
}

.category-buttons button:hover {
  cursor: pointer;
}

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sorting ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

.sorting ul li {
  padding: 9px 20.5px;
  border: 1px solid #6C757D;
  width: 100px;
  height: 37px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.457143px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 20px;
  color: #6C757D;
}

.sorting ul li:hover {
  cursor: pointer;
  background-color: #6C757D;
  color: white;
}

.sorting ul{
  padding-left: 0;
}

.interval {
  display: flex;
}

.interval input {
  border: none;
  width: 39px;
  letter-spacing: 0.457143px;
  border-bottom: 1px solid #6C757D;
  outline: none;
  margin: 0 27px 0 17px;
  text-align: center;
}


thead {
  color: #052C65;
  font-size: 16px;
  font-weight: 700;

}

tr {
  border-top: 1px solid #DEE2E6;
}

tr td:last-child {
  text-align: right;
  padding-right: 0;
  padding-left: 0;
  width: auto;
}

tr td:first-child {
  font-weight: 700;
}

tr td:nth-child(6) {
  width: 400px;
}

td {
  width: 135px;
  padding: 15px;
}

.item-income {
  color: #198754;
}

.item-expenses {
  color: #DC3545;
}

.settings {
  display: flex;
  justify-content: right;
  gap: 10.5px;
}

.settings div:hover {
  cursor: pointer;
}

.settings div:hover svg {
  fill: rgba(0, 0, 0, 0.5);
}

.basket {

}



