body {
  min-height: 100vh;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

.b-example-divider {
  margin-left: 218px;
}

.link-body-emphasis, .nav-link {
  font-weight: 400;
  font-size: 14px;
  color: #052C65;
}

.price {
  font-weight: 500;
  font-size: 14px;
  color: #052C65;
}

.price span {
  color: #0D6EFD;
}

.btn-toggle:before {
  content: none;
}

.btn-toggle {
  padding-left: 15px;
  width: 100%;
  justify-content: space-between;
}

.btn-toggle-nav a {
  margin-left: 0;
  padding: 12px 16px;
  display: block;
}

.btn-toggle-nav li {
  padding: 0;
}

.link-dark {
  text-decoration: none;
}

.nav-item a, .my-btn {
  padding: 12px 16px;
}

.logo {
  width: 98px;
}

.content {
  padding: 100px 0 0 60px;
  margin-left: 219px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #052C65;
  margin-bottom: 60px;
}

.income__blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.income__block {
  border: 1px solid #CED4DA;
  border-radius: 12px;
  padding: 20px;
  width: 352px;
  height: 121px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CED4DA;
  font-size: 28px;
  font-weight: 500;
}

.add:hover {
  cursor: pointer;
}

.income__block-title {
  color: #290661;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.1;
}

.income__block-settings button{
  display: inline-flex;
  height: 38px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  color: white;
  border: none;
  margin-right: 10px;
  font-size: 14px;
}

.income__block-settings button:nth-child(1) {
  background: #0D6EFD;
}

.income__block-settings button:nth-child(2) {
  background: #DC3545;
}

.income__block-settings button:hover {
  cursor: pointer;
}

.popup {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: white;
  width: 530px;
  height: 184px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #CED4DA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup-text {
  width: 450px;
  color: #290661;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.popup-buttons {
  display: flex;
  gap: 10px;
}

.popup-buttons button {
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  width: 111px;
  height: 38px;
  line-height: 1;
  border: none;
}

.popup-buttons button:nth-child(1) {
  background-color: #198754;
}

.popup-buttons button:nth-child(2) {
  background-color: #DC3545;
}




